In [36]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.ensemble import RandomForestClassifier
import matplotlib as plt
import seaborn as sns
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings('ignore')

In [3]:
data=pd.read_csv('winequality-red.csv')
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [7]:
data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [8]:
data['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [9]:
df_corr=data.corr()
df_corr['quality'].sort_values(ascending=False)

quality                 1.000000
alcohol                 0.476166
sulphates               0.251397
citric acid             0.226373
fixed acidity           0.124052
residual sugar          0.013732
free sulfur dioxide    -0.050656
pH                     -0.057731
chlorides              -0.128907
density                -0.174919
total sulfur dioxide   -0.185100
volatile acidity       -0.390558
Name: quality, dtype: float64

In [1]:
x=data.drop(columns='quality')
y=data['quality']

NameError: name 'data' is not defined

In [11]:
x.skew().sort_values(ascending=False)

chlorides               5.680347
residual sugar          4.540655
sulphates               2.428672
total sulfur dioxide    1.515531
free sulfur dioxide     1.250567
fixed acidity           0.982751
alcohol                 0.860829
volatile acidity        0.671593
citric acid             0.318337
pH                      0.193683
density                 0.071288
dtype: float64

In [88]:
from sklearn.preprocessing import power_transform
x_new=power_transform(x)
x_new
x_new

array([[-4.42665887e-01,  9.95541630e-01, -1.53110932e+00, ...,
         1.27568965e+00, -5.81649810e-01, -1.07502541e+00],
       [-1.61307687e-01,  1.77129873e+00, -1.53110932e+00, ...,
        -7.09517433e-01,  3.95139954e-01, -5.00859609e-01],
       [-1.61307687e-01,  1.26980139e+00, -1.25535866e+00, ...,
        -3.10054073e-01,  1.83771552e-01, -5.00859609e-01],
       ...,
       [-1.36436736e+00,  3.87065014e-04, -6.83293826e-01, ...,
         7.18868617e-01,  8.20841495e-01,  7.34557526e-01],
       [-1.76745837e+00,  7.28552770e-01, -7.43826364e-01, ...,
         1.63859528e+00,  5.88343819e-01, -1.87998601e-02],
       [-1.66263981e+00, -1.32045850e+00,  1.03107021e+00, ...,
         5.29831617e-01,  2.56369273e-01,  7.34557526e-01]])

In [85]:
pd.DataFrame(x_new,columns=x.columns).skew().sort_values(ascending=False)

alcohol                 0.112372
citric acid             0.017788
sulphates               0.009985
volatile acidity        0.003099
fixed acidity           0.002529
pH                     -0.002823
total sulfur dioxide   -0.003752
density                -0.005054
free sulfur dioxide    -0.009948
residual sugar         -0.015715
chlorides              -0.151304
dtype: float64

In [89]:
vif=pd.DataFrame()
vif['vif']=[variance_inflation_factor(x_new,i) for i in range(x_scaled.shape[1])]
vif['features']=x.columns
vif

         vif              features
0   6.498474         fixed acidity
1   1.892941      volatile acidity
2   2.910788           citric acid
3   1.783555        residual sugar
4   1.382009             chlorides
5   2.858944   free sulfur dioxide
6   3.203404  total sulfur dioxide
7   5.968698               density
8   3.099578                    pH
9   1.353120             sulphates
10  2.765502               alcohol

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=400)

In [18]:
from sklearn.decomposition import PCA
pca=PCA(n_components=2)
X_train=pca.fit_transform(x_train)
X_test=pca.transform(x_test)

In [19]:
pred=RandomForestClassifier(random_state=60)

In [20]:
pred.fit(X_train,y_train)

RandomForestClassifier(random_state=60)

In [21]:
pred.score(X_test,y_test)

0.58125

In [22]:
parameter={'n_estimators':[100,120,145,177,180],
          'criterion':["gini","entropy"],
          'max_depth':range(2,10,2),
          'min_samples_leaf':range(2,10,2),
          'min_samples_split':range(2,10,2),
          'max_features':['auto','log2']}

In [23]:
G_search=GridSearchCV(estimator=pred,param_grid=parameter,cv=3,n_jobs = -1, verbose = 2)

In [24]:
G_search.fit(X_train,y_train)

Fitting 3 folds for each of 1280 candidates, totalling 3840 fits

GridSearchCV(cv=3, estimator=RandomForestClassifier(random_state=60), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(2, 10, 2),
                         'max_features': ['auto', 'log2'],
                         'min_samples_leaf': range(2, 10, 2),
                         'min_samples_split': range(2, 10, 2),
                         'n_estimators': [100, 120, 145, 177, 180]},
             verbose=2)

In [25]:
G_search.best_params_

{'criterion': 'entropy',
 'max_depth': 8,
 'max_features': 'auto',
 'min_samples_leaf': 2,
 'min_samples_split': 2,
 'n_estimators': 145}

In [26]:
pred=RandomForestClassifier(criterion='entropy',
 max_depth=8,
 max_features='auto',
 min_samples_leaf=2,
 min_samples_split=2,
 n_estimators=145,random_state=60)

In [43]:
G_search.best_estimator_

RandomForestClassifier(criterion='entropy', max_depth=8, min_samples_leaf=2,
                       n_estimators=145, random_state=60)

In [35]:
pred.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy', max_depth=8, min_samples_leaf=2,
                       n_estimators=145, random_state=60)

In [30]:
pred.score(X_train,y_train)

0.7453083109919572

In [45]:
f_fit=G_search.best_estimator_.predict(X_test)

In [48]:
f_fit

array([6, 6, 6, 6, 5, 5, 5, 6, 6, 5, 6, 5, 6, 5, 6, 6, 6, 6, 5, 6, 6, 6,
       6, 6, 6, 5, 6, 5, 6, 5, 6, 5, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 5, 5, 5, 5, 6, 6, 7, 5,
       5, 6, 6, 5, 5, 6, 5, 6, 6, 5, 5, 5, 6, 6, 6, 6, 6, 6, 5, 6, 5, 5,
       6, 6, 5, 6, 6, 6, 6, 6, 5, 5, 5, 6, 6, 5, 6, 6, 6, 5, 6, 6, 6, 6,
       6, 6, 5, 6, 6, 5, 6, 5, 6, 5, 6, 6, 6, 5, 6, 5, 5, 5, 5, 7, 6, 5,
       6, 5, 5, 7, 5, 6, 7, 5, 5, 6, 5, 6, 6, 6, 5, 6, 6, 5, 5, 5, 6, 5,
       5, 6, 5, 5, 5, 6, 5, 6, 6, 5, 6, 5, 6, 5, 5, 6, 6, 7, 5, 5, 6, 6,
       6, 5, 6, 5, 5, 5, 5, 6, 6, 6, 5, 6, 6, 5, 5, 6, 6, 7, 5, 5, 5, 5,
       6, 5, 7, 6, 5, 6, 5, 6, 6, 5, 6, 5, 6, 5, 6, 7, 6, 6, 5, 6, 5, 5,
       6, 5, 6, 5, 5, 5, 5, 5, 6, 6, 6, 6, 5, 5, 6, 6, 5, 5, 6, 5, 5, 5,
       5, 6, 6, 6, 6, 6, 6, 7, 7, 6, 5, 6, 5, 6, 6, 5, 5, 5, 5, 6, 5, 6,
       6, 6, 6, 6, 5, 5, 5, 6, 5, 6, 5, 6, 5, 5, 7, 5, 5, 6, 6, 5, 5, 5,
       5, 5, 6, 5, 6, 5, 5, 5, 5, 6, 6, 5, 6, 5, 7, 5, 6, 6, 5, 6, 5, 6,
       5, 5, 6, 5, 5, 7, 7, 6, 6, 5, 5, 5, 5, 6, 6, 6, 5, 6, 6, 6, 5, 5,
       5, 6, 7, 5, 6, 6, 5, 5, 5, 6, 5, 6, 5, 6, 6, 6, 6, 5, 7, 6, 6, 6,
       6, 5, 6, 5, 6, 6, 5, 5, 6, 6, 5, 6, 6, 6, 6, 6, 5, 6, 5, 6, 5, 6,
       6, 6, 6, 6, 5, 6, 6, 5, 6, 5, 5, 5, 5, 5, 6, 6, 7, 5, 6, 5, 6, 5,
       5, 6, 5, 5, 6, 6, 7, 5, 7, 5, 7, 5, 6, 6, 6, 5, 6, 5, 6, 6, 6, 5,
       5, 5, 5, 5, 6, 5, 5, 7, 6, 6, 5, 6, 5, 5, 5, 5, 5, 5, 6, 6, 6, 5,
       6, 5, 7, 5, 5, 5, 6, 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 7, 6, 6, 5,
       5, 5, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 6, 5, 5], dtype=int64)